<body></body>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>

<header><h1 class="display-4">BusScout Beta</h1></header>

<form action='/bus_stops/show'>
  <input name='name' placeholder="Enter in your bus stop name">
  <input type='submit'>
</form>


<%= link_to 'Let others know what is happening at your bus stop', new_bus_stop_path, class: 'btn btn-primary btn-lg' %>



<div class="card">
  <div class="card-block">
    <p></p>
    <p></p>
    Here's what others have to say:
    <ul>
      <%= render @busStops %>
    </ul>
  </div>
</div>
